body {
  background-color: antiquewhite;
}
/*  
- font-family
- font-weight
- font-size
- line height
*/
.heading1 {
  font-family: "Times New Roman", Times, serif;
  color: blueviolet;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
/*
    list
    -list-style-type
    -list-style-position
*/
.ul1 {
  list-style-type: circle;
  list-style-position: inside;
  border-left: solid 2px black;
}
.ul2 {
  list-style-type: circle;
  list-style-position: inside;
  border-right: solid 2px black;
}
ol {
  list-style-position: outside;
}
